@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Montserrat'); 

html, body {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 8px;
    font-family: Montserrat;
}

/* HEADER */
#title {
	float: left;
	width: 80%;
	text-align: left;
}
#links {
	float: right;
	height: auto;
	width: 20%;
	text-align: right;
	}


/* HEADER MOBILE RULES */
@media only screen and (max-width: 640px) {

   #title {
    float: left;
	height: auto;
	width: 170%;
	text-align: left;
    }

    #links {
    float: right;
	height: auto;
	width: 50%;
	text-align: right;
    }
}



/* IMAGES */
img {
    width: 33.33%;
}

#gallery {
    display: block;
    clear: both;
}

/*  IMAGES MOBILE RULES */
@media only screen and (max-width: 640px) {
    img {
        width: 50%;
    }
}

@media only screen and (max-width: 320px) {
    img {
        width: 100%;
    }
}