html, body {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 8px;
    font-family: Montserrat;
}

/* HEADER */
.container {}

.left {
width:80%;
float:left;
}

.right {
width:20%;
float:right;
text-align: right;
}


/* HEADER MOBILE RULES */
@media only screen and (max-width: 640px) {

.container {}

.left {
width:100%;
float:left;
}

.right {
width: 50%;
float:right;
text-align: right;
}
}

@media only screen and (max-width: 1366px) {

.container {}

.left {
width:100%;
float:left;
}

.right {
width: 50%;
float:right;
text-align: right;
}
}

@media only screen and (max-width: 1920px) {

.container {}

.left {
width:100%;
float:left;
}

.right {
width: 50%;
float:right;
text-align: right;
}
}

/* IMAGES */
img {
    width: 33.33%;
}

#gallery {
    display: block;
    clear: both;
}
#game {
    display: block;
    clear: both;
	padding-top: 500px;
	padding-bottom: 500px;
	text-align: center;
	color: white;
	background-color: black;
}

/*  IMAGES MOBILE RULES */
@media only screen and (max-width: 640px) {
    img {
        width: 50%;
    }
}

@media only screen and (max-width: 320px) {
    img {
        width: 100%;
    }
}